<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password"/>
    <mat-error *ngIf="password?.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="password?.hasError('minlength')">
      Password must be at least 8 characters long
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Repeat password</mat-label>
    <input matInput formControlName="repeatPassword" type="password"/>
    <mat-error *ngIf="repeatPassword?.hasError('required')">
      Repeat password is <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="repeatPassword?.hasError('minlength')">
      Repeat password must be at least 8 characters long
    </mat-error>

    <mat-error *ngIf="form?.hasError('differentPasswords')">
      Passwords must be the same
    </mat-error>
  </mat-form-field>
</form>
